<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.gustomap">
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GustoMap">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBbdjqjnuamwIi4wt6SjL-yvaBEnnEATWU" />

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <action android:name="android.location.PROVIDERS_CHANGED" />
            </intent-filter>
        </activity>
        <activity android:name=".MapActivity" android:label="GustoMap"></activity>
        <activity android:name=".PopUpActivity" android:label=".PopUpActivity" android:theme="@android:style/Theme.Dialog"></activity>
    </application>

</manifest>